#tab {
  width: 270px;
  padding: 5px;
  height: 150px;
  margin: 20px;
}
#tab ul {
  list-style: none;
  display:;
  height: 30px;
  line-height: 30px;
}
#tab ul li {
  background: #FFF;
  cursor: pointer;
  float: left;
  list-style: none;
  height:29px;
  line-height: 29px;
  padding: 0px 10px;
  margin: 0px 10px;
}
#tab ul li.on {
  border-bottom: 2px solid gray;
}
#tab div {
  height: 100px;
  width: 250px;
  line-height: 24px;
  border-top: none;
  padding: 1px;
  border: 1px solid #336699;
  padding: 10px;
}
.hide {
  display: none;
}